#parent,
#child,
#grandparent {
  margin: 16px;
  padding: 16px;
  border: 4px solid #212121;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#parent {
  background-color: #673ab7;
}

#child {
  background-color: #448aff;
}

#grandparent {
  background-color: #ff9800;
}

div {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.toolbar {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}
.button-group {
  display: inline-block;
  margin-right: 10px;
}
button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #f0f0f0;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 4px;
}

.color-palette .item {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
  transform: scale(1.1);
}

/* Стилі для галереї */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 80%;
  max-width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slider img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.gallery-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.gallery-list img {
  width: 100px;
  height: 70px;
  cursor: pointer;
  border: 2px solid transparent;
}

.gallery-list img:hover {
  border: 2px solid #333;
}